<div class="home__container">
    <app-card 
        gameCover="assets/bt-1.jpg"
        gameLabel="Físico"
        gamePrice="R$ 250,00"
        gameType="Tiro | Estratégia">
    </app-card>

    <app-card 
        gameCover="assets/bt-4.jpg"
        gameLabel="Digital"
        gamePrice="R$ 399,00"
        gameType="Guerra | Estratégia">
    </app-card>

    <app-card 
        gameCover="assets/bt-5.jpg"
        gameLabel="Digital"
        gamePrice="R$ 599,00"
        gameType="Guerra | Estratégia">
    </app-card>

    <app-card 
        gameCover="assets/ac-cover.jpg"
        gameLabel="Digital"
        gamePrice="R$ 450,00"
        gameType="Simulação | Estratégia">
    </app-card>

    <app-card 
        gameCover="assets/bt-bad-company-2.jpg"
        gameLabel="Digital"
        gamePrice="R$ 450,00"
        gameType="Simulação | Estratégia">
    </app-card>

    <app-card 
        gameCover="assets/bt-hardline.jpg"
        gameLabel="Digital"
        gamePrice="R$ 450,00"
        gameType="Simulação | Estratégia">
    </app-card>
</div>